.carrossel__titulo{
    color: var(--laranja);
    background-color: var(--branco);
    text-align: center;
    text-transform: uppercase; /*deixa tudo em maiusculo*/
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0 0.5em 0;
}

.swiper-slide img {
    width: 100%;
}
/*abaixo, formatação para tirar as setas de próximo/anterior*/
.swiper-button-prev,
.swiper-button-next{
    display: none;
}
/*abaixo, bolinhas de rolamento, formatada para ficar acima dos elementos*/
.swiper-pagination{
    position: initial;
    margin: .5em 0;
}

.swiper{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    overflow: hidden;
    list-style: none;
    padding: 0;
    z-index: 1;
}

.carrossel{

}
.swiper-wrapper{

}
/* ********************************************** */
.card{
    background: var(--branco);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.card__descrição{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5em;
}

.descrição{

}

.descrição__titulo{
    color: var(--laranja);
    font-weight: 700;

}

.descrição__titulo-livro{
    color: var(--azul);
    font-size: 18px;
    font-weight: 700;
    margin: 0.5em 0;
}

.descrição__texto{
    color: var(--preto);
    font-size: 14px;
}

.descrição__imagem{
    margin-left: 0.5em;
}
/* CARTÃO BOTÕES */
.card__botões{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.botões{
    display: flex;
}

.botões__item{
    margin: 0 0.5em;
    ;
}

.botões__ancora{
    background-color: var(--laranja);
    padding: 1em 2.2em;
    color: var(--branco);
    font-weight: 700;
    text-decoration: none;
}



