.cabecalho__menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*foi usado para poder deixar livre a posicao dele na .lista-menu, onde ficou absolute e 100% top*/
}

.container {
    display: flex;
    align-items: center;    
}

.container_imagem {
    padding: 1em;
}

.lista-menu {
    display: none; /*usado para nao aparecer a lista se nao houver o click do botao na figura*/
    position: absolute;
    top: 100%; /*Para ficar na parte de baixo da figura-botao */
    width: 60vw;
}

.container__botao:checked~.lista-menu {
    display: block; 
} /*Todo esse atributo serve para clicar no 
botao e aparecer a lista em block, um item abaixo do outro*/

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
    text-decoration: none;
}

.lista-menu__titulo{
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link{
    background: var(--azul-degrade);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase; /*deixa as letras em maiusculas*/
    text-decoration: none;
}

.container__botao{
    display: none;
}

.container__titulo, .opcoes, .container__texto{
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: block;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente {
        display: none;
    }

    .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao{
        display: none;
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
    }
    
    .lista-menu__item:hover>.lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }

    
}


@media screen and (min-width: 1728px) {
    .opcoes{
        margin-right: auto;
    }

    .container__texto{
        display: block;
    }

    .container__link{
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho{
        padding: 0 2em;
    }
    
}